@charset "Shift_JIS" ;

	BODY{ background:; color:black; line-height:120%; text-align:center;}

	/* メインのウィンドウ扱い */
	div.main{width:80%;background-color: white; text-align:center;
			margin:auto;margin-top:24pt; padding-bottom:16pt; border: 2pt green solid;}

	/* メニュー画面 */
	div.flag{ display:inline; cursor:pointer; }
	div.flagsel{ display:inline; cursor:pointer; color:maroon; font-weight:bold;
				background-color:#efefef;}

	div.menu{ display:inline; color:blue; text-decoration:underline; cursor:pointer;}
	div.menusel{ display:inline; color:maroon; text-decoration:underline; font-weight:bold;
				background-color:#efefef; cursor:pointer;}
	div.menunull{ display:inline; color:silver; cursor:pointer;}

	blockquote#menupanel{ display:block; font-size:11pt; background-color: #efefef; margin:0pt; padding:2pt 4pt 2pt 4pt;}

	blockquote#expression{ margin: 6pt 12pt 0pt 12pt;}
	blockquote#usepanel{ margin:2pt 0pt 0pt 6pt;}
	blockquote#modepanel{ margin:2pt 0pt 0pt 6pt;}
	blockquote#checkpanel{ margin:4pt 0pt 0pt 16pt;}
	blockquote#timerpanel{ margin:2pt 0pt 0pt 6pt;}

	/* 中身 */
	h2#title{ text-align:center;margin:16pt 0pt 24pt 0pt;}

	div.exp{ width:380pt; margin:auto; margin-bottom:8pt; padding: 0pt 0pt 8pt 0pt; text-align:left; border: 1px red solid;}

	div.ques{ margin:auto; margin-top:16pt; margin-bottom:16pt; text-align:center;}

	div#divques{ position:relative;}
	div#btnarea{ position:relative;}

	canvas#puzzle_canvas{ border:1px silver solid; cursor:default;}

	div.divnum{ display:inline; position:absolute; cursor:defalut; }

	/* ○○へ戻る の部分 */
	p.back{ text-align:left; margin: 4pt auto 6pt 12pt;}

	/* ポップアップウィンドウ */
	div.submenu{ visibility:hidden; display:inline; text-align:left; font-size:11pt; background-color: blue; margin:0pt; padding:2pt; position:absolute;}

/*	div.smenu{ display:inline; font-size:11pt; background-color: white; margin:1pt; padding:0pt;} */
	div.smenu{ display:block; text-align:left; background-color: white; color:black; cursor:pointer;
				margin:0pt; padding:1pt 16pt 0pt 4pt;}
	div.smenusel{ display:block; text-align:left; background-color: #ffe8e8; color:black; text-decoration:underline; cursor:pointer;
				margin:0pt; padding:1pt 16pt 0pt 4pt;}
	div.smenunull{ display:block; text-align:left; background-color: #dfdfdf; color:gray; cursor:default;
				margin:0pt; padding:1pt 16pt 0pt 4pt;}

	div#s3menu2{ font-size:10pt;}
	div#s3menu3{ font-size:10pt;}
	div#s3menu4{ font-size:10pt;}

	div#s4menu2{ font-size:10pt;}
	div#s4menu3{ font-size:10pt;}
	div#s4menu4{ font-size:10pt;}

	div.popup{ visibility:hidden; display:inline; text-align:left; font-size:11pt; line-height:160%;
				 background-color: #efefff; margin:0pt; border: 1px black solid; position:absolute;}
	div.credit{ line-height:110%; margin:4pt 0pt 2pt 4pt;}

	div.titlebar{ display:block; background-color: gray; color:white; margin:0pt;
					height:18pt; font-size:11pt;}

	form{ margin:2pt 8pt 4pt 4pt; padding:0pt; }

	/* aタグ 背景とか */
	a:link{ color:blue;}
	a:active{ color:red;}
	a:visited{ color:#336666;}
	a:hover{ color:aqua;}
