@charset "UTF-8" ;

	BODY{ background:url(./bg/index.gif); color:black; line-height:120%; text-align:center; margin:0pt; padding:0pt;}

	/* メインの白背景領域 */
	div#main{ width:80%; background-color:white; text-align:center;
			  margin:auto; margin-top:8pt; padding-bottom:6pt; border:2pt green solid;}

	h2#title{ text-align:center;margin:16pt 0pt 24pt 0pt;}

	/* 管理領域 */
	div#menuboard{ width:380pt; margin:auto; margin-bottom:8pt; padding:0pt 0pt 8pt 0pt;
				   text-align:left; font-size:1.0em; line-height:1.2; border:1px red solid;}
	input[type="checkbox"] { width:16px; height:16px;}

	/* メニュー領域 */
	menu#menupanel{ display:block; font-size:0.9em; background-color:#efefef; margin:0pt 0pt 6pt 0pt; padding:2pt 4pt 2pt 4pt;}
	/* メニュー項目 */
	li.menu, li.menusel{ display:inline; color:blue; margin-right:4pt; cursor:pointer; text-decoration:underline;}
	li.menusel { color:maroon; font-weight:bold; background-color:#efefef;}
	/* li.menunull{ display:inline; margin-right:4pt; color:silver; cursor:pointer;} */

	/* フロートメニュー */
	menu.floatmenu{ visibility:visible; display:none; margin:0pt; padding:2pt; position:absolute;
					list-style-type:none; text-align:left; font-size:0.9em; line-height:1.33; background-color:blue; z-index:101;}
	/* フロートメニュー - サブメニュー項目 */
	menu.floatmenu li { display:block; margin:0pt; padding:1pt 8pt 0pt 4pt; text-align:left; color:black; cursor:default;}
	menu.floatmenu li.smenu     { background-color:white;   cursor:pointer;}
	menu.floatmenu li.smenusel  { background-color:#ffe8e8; cursor:pointer; text-decoration:underline;}
	menu.floatmenu li.smenunull { background-color:#dfdfdf; color:gray;}

	menu.floatmenu li.smenulabel{ display:inline; color:white;}
	menu.floatmenu li.smenusep  { height:3pt; padding-top:0pt;}

	/* メニューより下の管理領域 */
	div#expression{ margin:6pt 12pt 0pt 12pt;}
	div#usepanel  { margin:2pt 0pt 0pt 6pt;}
	div#checkpanel{ margin:4pt 0pt 0pt 16pt;}
	div#timerpanel{ margin:2pt 0pt 0pt 6pt;}

	hr#separator1{ margin-top:6pt; margin-bottom:6pt;}
	hr#separator2{ margin-top:6pt; margin-bottom:6pt;}

	div.child{ display:inline; cursor:pointer;}
	div.childsel{ display:inline; cursor:pointer; color:maroon; font-weight:bold; background-color:#efefef;}

	/* パズル表示部 */
	div#quesboard{ margin:auto; margin-top:16pt; margin-bottom:16pt; text-align:center;}

	div#divques{ position:relative; border:solid 1px gray; cursor:default; margin-left:auto; margin-right:auto;}

	div#numobj_parent{ position:absolute; left:0px; top:0px; z-index:20;}
	div.divnum{ display:inline; position:absolute; cursor:default; line-height:100%;}
	img.imgnum{ display:inline; position:absolute; cursor:default;}

	div#btnarea{ position:relative;}
	div#btnarea input[type="button"]{ font-size:1.0em; line-height:1;}

	/* ポップアップウィンドウ */
	div.popup{ display:none; position:absolute; left:0pt; top:0pt; margin:0pt; text-align:left;
			   background-color:#efefff; border:1px black solid; font-size:0.9em; line-height:1.6; z-index:100;}

	div.titlebar{ display:block; text-align:left; background-color:gray; color:white; cursor:pointer;
					margin:0pt; padding:1pt 0pt 1pt 8pt; font-size:1.0em;}

	form{ margin:2pt 8pt 4pt 4pt; padding:0pt;}
	form input{ font-size:1.0em; line-height:1;}

	div#credit3_1{ line-height:1.1; margin:4pt 0pt 2pt 4pt;}

	/* キーポップアップ用 */
	div#keypopup { background-color:silver; line-height:1;}
	div.panelbase{ margin:1pt;}

	div.panelbase td { width:32px; height:32px; background-color:white; cursor:pointer;}
	td.kpnum     { text-align:center; vertical-align:middle; font-size:24px;}
	td.kpimgcell { text-align:left; vertical-align:top;}
	div.kpimgdiv { position:absolute; display:inline;}
	img.kpimg    { position:absolute; overflow:hidden;}

	/* (ファイル入出力用)隠しエレメント */
	div#hidden_element { position:absolute; top: 0px; left:-10000px;}

	iframe#fileiopanel { width:200px; height:200px;}
	form#fileform2     { width:100px; height:100px;}

